[submodule "bundle/vim-pathogen"]
	path = bundle/vim-pathogen
	url = git://github.com/tpope/vim-pathogen.git
[submodule "bundle/command-t"]
	path = bundle/command-t
	url = git://git.wincent.com/command-t.git
[submodule "bundle/nerdcommenter"]
	path = bundle/nerdcommenter
	url = git://github.com/scrooloose/nerdcommenter.git
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = git://github.com/scrooloose/nerdtree.git
[submodule "bundle/vim-easymotion"]
	path = bundle/vim-easymotion
	url = git://github.com/Lokaltog/vim-easymotion.git
[submodule "bundle/vim-indent-guides"]
	path = bundle/vim-indent-guides
	url = git://github.com/nathanaelkane/vim-indent-guides.git
[submodule "bundle/tagbar"]
	path = bundle/tagbar
	url = git://github.com/majutsushi/tagbar.git
[submodule "bundle/Visual-Mark"]
	path = bundle/Visual-Mark
	url = git://github.com/vim-scripts/Visual-Mark.git
[submodule "bundle/mru"]
	path = bundle/mru
	url = git://github.com/vim-scripts/mru.vim.git
[submodule "bundle/yankring"]
	path = bundle/yankring
	url = git://github.com/vim-scripts/YankRing.vim.git
[submodule "autonumbering-in-vim"]
	path = autonumbering-in-vim
	url = https://github.com/vim-scripts/autonumbering-in-vim.git
[submodule "bundle/autonum"]
	path = bundle/autonum
	url = https://github.com/vim-scripts/autonumbering-in-vim.git
[submodule "vimwiki"]
	path = vimwiki
	url = git://github.com/vim-scripts/vimwiki.git
[submodule "bundle/vimwiki"]
	path = bundle/vimwiki
	url = git://github.com/vim-scripts/vimwiki.git
[submodule "bundle/vim-colors-solarized"]
	path = bundle/vim-colors-solarized
	url = git://github.com/altercation/vim-colors-solarized.git
[submodule "bundle/guicolorscheme"]
	path = bundle/guicolorscheme
	url = https://github.com/vim-scripts/guicolorscheme.vim.git
[submodule "bundle/CSApprox"]
	path = bundle/CSApprox
	url = https://github.com/vim-scripts/CSApprox.git
[submodule "bundle/ShowMarks"]
	path = bundle/ShowMarks
	url = https://github.com/vim-scripts/ShowMarks.git
[submodule "bundle/vim-airline"]
	path = bundle/vim-airline
	url = https://github.com/vim-airline/vim-airline
[submodule "bundle/ctrlp.vim"]
	path = bundle/ctrlp.vim
	url = https://github.com/ctrlpvim/ctrlp.vim.git
[submodule "bundle/vim-gutentags"]
	path = bundle/vim-gutentags
	url = https://github.com/ludovicchabant/vim-gutentags.git
[submodule "bundle/vim-startify"]
	path = bundle/vim-startify
	url = git@github.com:mhinz/vim-startify.git
[submodule "bundle/ayu-vim"]
	path = bundle/ayu-vim
	url = git@github.com:ayu-theme/ayu-vim.git
[submodule "bundle/vim-flake8"]
	path = bundle/vim-flake8
	url = https://github.com/nvie/vim-flake8.git
[submodule "bundle/vim-codefmt"]
	path = bundle/vim-codefmt
	url = git@github.com:google/vim-codefmt.git
[submodule "bundle/vim-maktaba"]
	path = bundle/vim-maktaba
	url = git@github.com:google/vim-maktaba.git
[submodule "bundle/vim-glaive"]
	path = bundle/vim-glaive
	url = git@github.com:google/vim-glaive.git
[submodule "bundle/jupyter-vim"]
	path = bundle/jupyter-vim
	url = https://github.com/jupyter-vim/jupyter-vim.git
[submodule "bundle/nvim-yarp"]
	path = bundle/nvim-yarp
	url = git@github.com:roxma/nvim-yarp.git
[submodule "bundle/ncm2"]
	path = bundle/ncm2
	url = git@github.com:ncm2/ncm2.git
[submodule "bundle/ncm2-path"]
	path = bundle/ncm2-path
	url = git@github.com:ncm2/ncm2-path.git
[submodule "bundle/vim-hug-neovim-rpc"]
	path = bundle/vim-hug-neovim-rpc
	url = git@github.com:roxma/vim-hug-neovim-rpc.git
[submodule "bundle/ncm2-jedi"]
	path = bundle/ncm2-jedi
	url = git@github.com:ncm2/ncm2-jedi.git
[submodule "bundle/jedi-vim"]
	path = bundle/jedi-vim
	url = git@github.com:davidhalter/jedi-vim.git
[submodule "bundle/gutentags_plus"]
	path = bundle/gutentags_plus
	url = git@github.com:skywind3000/gutentags_plus.git
[submodule "bundle/vim-latex"]
	path = bundle/vim-latex
	url = https://github.com/vim-latex/vim-latex.git
[submodule "bundle/SimpylFold"]
	path = bundle/SimpylFold
	url = https://github.com/tmhedberg/SimpylFold.git
[submodule "bundle/ncm2-pyclang"]
	path = bundle/ncm2-pyclang
	url = https://github.com/ncm2/ncm2-pyclang.git
[submodule "bundle/ncm2-gtags"]
	path = bundle/ncm2-gtags
	url = https://github.com/ncm2/ncm2-gtags.git
[submodule "bundle/vim-markdown"]
	path = bundle/vim-markdown
	url = https://github.com/plasticboy/vim-markdown.git
[submodule "bundle/vim-fugitive"]
	path = bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "bundle/vcs-jump"]
	path = bundle/vcs-jump
	url = https://github.com/wincent/vcs-jump.git
